<div class="modal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header bg-danger align-items-center">
        <h3 class="h5 modal-title text-white">確認刪除</h3>
        <a href="#" class="text-dark js-closeModal">&times;</a>
      </div>
      <div class="modal-body">內容</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary js-closeModal">取消</button>
        <button type="button" class="btn btn-outline-danger js-deleteBtn">確定刪除</button>
      </div>
    </div>
  </div>
</div>
