<% extend('layout/layout_auth') %>

<div class="wrap-err">
  <div class="err">
    <h1 class="err-title">
      <%- title %>
    </h1>
    <a href="/" class="btn btn-secondary">回到首頁</a>
  </div>
</div>
